.home-section2{
    display: flex;
    align-items: center;
    background-color: transparent;
    height: fit-content;
    box-sizing: conent-box;
}
.about-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 50%;
    margin-right: 2rem;
}
.about-container>:first-child{
    font-weight: bold;
    padding-bottom: 1rem;
}
.about-container>:last-child{
    margin-top: 2rem;
}
.about-container>span:nth-of-type(2){
    font-size: 2.5rem;
    font-weight: 600;
}
.about-container>span:nth-of-type(3){
    font-size: 1.1rem;
    width: 80%;
}
.about-container>span:nth-of-type(4){
    font-size: 1.1rem;
    width: 85%;
}
.btn-section2{
    transition: 0.4s background-color ,color;
}
.btn-section2>span{
    font-weight: 600;
}
.btn-section2>img{
    width: 0.8rem;
    height: 0.8rem;
}
.btn-section2:hover{
    background-color: var(--blue);
    color: var(--lightblue);
}
.section2-img{
    display: flex;
    background-image: url('../../../assets/foodnapkin.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 60rem;
    height: 35rem;
    width: 50%;
    z-index: 3;
}

@media screen and (max-width: 900px) {
    .about-container{
        width: 80%;
    }
    .section2-img{
        /* background-size: 50%; */
    }
}
@media screen and (max-width: 400px) {
    .section2-img{
        
    }
}